<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-2.5.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">

	<bean id="sysPropertiesService" class="com.rightsallocate.service.SysPropertiesServiceImpl"
		parent="abstractBaseDao">
	</bean>

	<bean id="userService" class="com.rightsallocate.service.UserServiceImpl"
		parent="abstractBaseDao">
	</bean>
	<bean id="organizationService" class="com.rightsallocate.service.OrganizationServiceImpl"
		parent="abstractBaseDao">
	</bean>
	<bean id="functionService" class="com.rightsallocate.service.FunctionServiceImpl"
		parent="abstractBaseDao">
	</bean>
	<bean id="resourceService" class="com.rightsallocate.service.ResourceServiceImpl"
		parent="abstractBaseDao">
	</bean>
	<bean id="roleService" class="com.rightsallocate.service.RoleServiceImpl"
		parent="abstractBaseDao">
	</bean>

</beans>
