<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-2.5.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">

	<!-- spring 系统支撑类  不要动 -->
	
	<bean id="idao" class="com.qu7bicycle.dao.IdaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="abstractBaseDao" abstract="true">
		<property name="iDao" ref="idao"></property>
		<property name="pageDao" ref="pageDao"></property>
	</bean>
	
	<bean id="pageDao" class="com.qu7bicycle.dao.PageDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
		<property name="dao" ref="idao"></property>
	</bean>


</beans>
